body {
	font-size: 16pt;
	color: navy;
	background-color: silver;
	font-family: Allura, Calibri, Helvetica, Arial
}
h1 {
	color: white;
	background-color: navy;
	text-align: center;
}
h2 {
	color: navy;
	background-color: silver;
	text-align: center;
}
h3 {
  color: navy;
  background-color: silver;
  text-align: center
}
button {
  background-color:white;
  border: none;
  color: #003366;
  font-family: Allura, Calibri, Helvetica, Arial;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  width: 100%;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  background-color: navy;
  color: white;
}
img {
  border-radius: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
